/* rangee.css */

div.elgg-head > h3 span.elgg-anchor-label {
    color: #000000;
}

div.elgg-head > h3 span.elgg-anchor-label:hover,
div.elgg-head > h3 span.elgg-anchor-label:focus {
    color: #ffffff;
}

.elgg-forum-author-box {
    width: 200px;
    margin-right: 50px;
}

.elgg-forum-latest-reply, .elgg-forum-latest-topic {
    width: 250px;
    margin-right: 50px;
}

.elgg-forum-narrow-column {
    width: 1%;
}
